<!doctype html>
<html>
    <head>
        <title>L4Me Story Manager</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class=page>
            <h1>L4Me Sprint Manager</h1>
            <div class=metanav>
                <a href="{{ url_for('new_userstory') }}">Add new user story</a>
                <a href="{{ url_for('userstory_list') }}">User stories</a>
            </div>
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
